.DS_Store
node_modules
coverage
.eslintcache
.env*
!.env*.sample
.aws-sam
.idea

solutions/frontend/dist

solutions/integration-tests/test-results/
solutions/integration-tests/playwright-report/
solutions/integration-tests/blob-report/
solutions/integration-tests/playwright/.cache/
solutions/integration-tests/.features-gen
solutions/integration-tests/cucumber-report
solutions/integration-tests/snapshots-updated

solutions/**/static-hash*.json